
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

div.containerMain {
	border: 3px solid yellow;
}

div.containerSmall {
	position: relative;
	border: 3px solid red;
	margin: auto;
	text-align: center;
	/*width: 95%;*/
	/*height: 100%;*/
}

div.choiceMenu {
	/*position: absolute;*/
    text-align: center;
    /*padding: 20px 0;*/
    border: 3px solid red;
    
}

div.choiceMade {
	position: relative;
	top: 0px;
	left: 0px;
	visibility: hidden;
    text-align: center;
    margin: auto;
    width: 50%;
    /*padding: 20px 0;*/
    border: 3px solid blue;
    z-index: 40;
    background-color: green;
}

div.showImageMain {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 3px solid green;
	z-index: 20;
}

span {
	border: 3px solid red;
	z-index: 40;
}

